
@font-face{
    font-family: 'VT323';
    src: url(VT323-Regular.ttf) format('truetype');
}

body {
    background-color: black;
    color: white;
    font-family: 'Courier New', monospace;
    display: flex;
    justify-content: center;
    padding: 50px;
    padding-top: 10px;
}
  
.faq-container {
    max-width: 100%;
    width: 100%;
}
  
h1 {
    text-align: right;
    font-size: 70px;
    margin-bottom: 40px;
    font-family: VT323, monospace;
}

.FAQ {
    font-size: 60px;
    margin-top: -30px; /* sobe o título */
    margin-bottom: 40px; /* espaço abaixo */
    text-align: center;
    color: lime;
    font-family: 'VT323', monospace;
}

h1 span {
    font-weight: bold;
    font-family: VT323, monospace;
    color: lime;
}
  
.faq-item {
    border: 2px solid lime;
    margin-bottom: 20px;
    border-radius: 5px;
    cursor: pointer;
}
  
.faq-question {
    padding: 40px 20px;
    font-weight: bold;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
.faq-answer {
    background-color: #333;
    padding: 20px;
    display: none;
    color: lightgray;
    font-family: monospace;
}

.faq-question:hover {
    background-color: #1a1a1a;  /* muda o fundo ao passar o mouse */
    color: lime;               /* muda a cor do texto */
    border-left: 4px solid lime; /* detalhe de borda lateral */
    transition: 0.3s ease;     /* animação suave */
    cursor: pointer;           /* mostra que é clicável */
  }
  